<div class="container">
  <h1 mat-dialog-title>Technical Skills</h1>
<mat-dialog-content class="">
  <h3>Programming Languages</h3>
  <ul class="circle">
    <li>JavaScript</li>
    <li>Java</li>
    <li>C# </li>
  </ul>
  <p></p>

  <h3>Languages, Design &amp; Style Languages</h3>
  <ul class="circle">
    <li>HTML</li>
    <li>CSS</li>
    <li>Bootstrap</li>
    <li>Angular Material</li>
  </ul>
  <h3>Frameworks,Services &amp; Soft Skills</h3>
  <ul class="circle">
    <li>Angular</li>
    <li>Some ASP.NET</li>
    <li>Google Cloud</li>
    <li>Excel</li>
    <li>Microsoft Word</li>
    <li>Visual Studio Code</li>
    <li>NetBeans</li>
    <li>Lucidchart</li>
    <li>Zoho</li>

  </ul>
  <h3>Databases</h3>
  <ul class="circle">
    <li>SQL</li>
    <li>Firestore</li>

  </ul>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="mat-elevation-z20" mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>

</div>
