

<div class="container">

  <h1 mat-dialog-title align="center">My Apps</h1>
  <mat-divider></mat-divider>

<mat-dialog-content>
  <div class="row">
    <div class="col-md-12 mat-elevation-z20">
      <mat-card class="example-card ">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Portfolio</mat-card-title>
          <mat-card-subtitle>Angular/Firebase</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/portfolioPic.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <mat-divider></mat-divider>
          <br>

          <p>
Not a regular portfolio, I added some other features such as the Like component and
Feedback.
          </p>
                   <mat-divider></mat-divider>


        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://github.com/misaelito76/Portfolio_M_J/tree/master/src">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>
    <div class="col-md-12 mat-elevation-z20">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Speech to Text</mat-card-title>
          <mat-card-subtitle>Html/JS/CSS</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/sp2t.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <mat-divider></mat-divider>
          <br>

          <p>
This Application shows different responses (css|| animations)
according to some key  words compared from an array
          </p>
          <mat-divider></mat-divider>

        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://codepen.io/misaelito76/pen/jOYvoOQ">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>
    <div class="col-md-12 mat-elevation-z20">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Books</mat-card-title>
          <mat-card-subtitle>GO/JavaScript</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/portfolioBookfinder.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <mat-divider></mat-divider>
<br>

          <p>
App creaated to store books for School where low income students
 can have access to cheap used materials
          </p>
          <mat-divider></mat-divider>

        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://github.com/misaelito76/HHC_Material_Exchange">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>
    <div class="col-md-12 mat-elevation-z20">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Tip Calculator</mat-card-title>
          <mat-card-subtitle>Java</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/JavaTip.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <mat-divider></mat-divider>
<br>
          <p>
App built in Java where can be calculated the tip amount
when subtotal and tip percent is provided
          </p>
          <mat-divider></mat-divider>

        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://github.com/misaelito76/Tip_Calculator/tree/master/tipCalculatorMisaelJimenez">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>
    <div class="col-md-12 mat-elevation-z20">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Tuition</mat-card-title>
          <mat-card-subtitle>Java</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/tuitionCalc.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <mat-divider></mat-divider>
<br>
          <p>
Console Application  for the Calculation of tuition in different years after receiving an input
          </p>
          <mat-divider></mat-divider>

        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://github.com/misaelito76/Tuition_Calculator/tree/master/TutionCalculator">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>
    <div class="col-md-12 mat-elevation-z20">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Netto</mat-card-title>
          <mat-card-subtitle>Angular/Firebase</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/netto.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <mat-divider></mat-divider>
<br>
          <p>
Cleaning Company with social media login,admin dashboard where cleaning services are managed
          </p>
          <mat-divider></mat-divider>

        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://netto-a5a4f.firebaseapp.com/">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>

    <div class="col-md-12 mat-elevation-z20">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sign up</mat-card-title>
          <mat-card-subtitle>Html/Js</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/portfolioMayaSignUp.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <mat-divider></mat-divider>
<br>
          <p>
 Application built on Html/CSS and JavaScript for Signing in, There's some animations
    and is tested in web-hooks      </p>
          <mat-divider></mat-divider>

        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://codepen.io/misaelito76/pen/jOaeoEV">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>

  </div>
</mat-dialog-content>
<br>
<mat-dialog-actions align="center">
  <button class="mat-elevation-z20" mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
<br>
</div>
