<div class="container">
  <h1 mat-dialog-title align="center">My Apps</h1>
  <mat-divider></mat-divider>

<mat-dialog-content>
  <div class="row">
    <div class="col-sm-6 mat-elevation-z20">
      <mat-card class="example-card ">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Portfolio</mat-card-title>
          <mat-card-subtitle>Angular/Firebase</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/portfolioPic.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <p>
Web Application built on Angular with typeScript and Angular Material.
 Deployed in Firebase and connected to firestore.
          </p>
        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://www.linkedin.com/in/misael-jimenez197609/">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>
    <div class="col-sm-6 mat-elevation-z20">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Speech to Text</mat-card-title>
          <mat-card-subtitle>Html/JS/CSS</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/sp2t.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <p>
Web Application built on Angular with typeScript and Angular Material.
 Deployed in Firebase and connected to firestore
          </p>
        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://codepen.io/misaelito76/pen/jOYvoOQ">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>
    <div class="col-sm-6 mat-elevation-z20">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Books</mat-card-title>
          <mat-card-subtitle>GO/JavaScript</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/portfolioBookfinder.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <p>
Web Application built on Angular with typeScript and Angular Material.
 Deployed in Firebase and connected to firestore
          </p>
        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://www.linkedin.com/in/misael-jimenez197609/">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>
    <div class="col-sm-6 mat-elevation-z20">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Tip Calculator</mat-card-title>
          <mat-card-subtitle>Java</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/JavaTip.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <p>
Web Application built on Angular with typeScript and Angular Material.
 Deployed in Firebase and connected to firestore
          </p>
        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://codepen.io/misaelito76/pen/jOYvoOQ">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>
    <div class="col-sm-6 mat-elevation-z20">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Tuition</mat-card-title>
          <mat-card-subtitle>Java</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/tuitionCalc.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <p>
Web Application built on Angular with typeScript and Angular Material.
 Deployed in Firebase and connected to firestore
          </p>
        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://www.linkedin.com/in/misael-jimenez197609/">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>
    <div class="col-sm-6 mat-elevation-z20">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sign up</mat-card-title>
          <mat-card-subtitle>Html/Js</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/portfolioMayaSignUp.png" alt="Photo of a Shiba Inu">
        <br>
        <mat-card-content>
          <p>
Web Application built on Angular with typeScript and Angular Material.
 Deployed in Firebase and connected to firestore
          </p>
        </mat-card-content>
        <mat-dialog-actions align="center">
          <br>
          <button mat-button
          #tooltip="matTooltip"
          matTooltip="Code link "
          matTooltipHideDelay="100"
          ><a href="https://www.linkedin.com/in/misael-jimenez197609/">
            <img src="assets/code-7-32.png"></a></button>
            </mat-dialog-actions>
      </mat-card>

    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="mat-elevation-z20" mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>

</div>
