 .home {
width:100%;
}
.misael {
  border: 2px solid rgb(19, 19, 19);
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.example-header-image {
  background-image: url('../assets/ultima.png');
  background-size: cover;
}
.example-spacer{
  flex: 1 1 auto;
}
.sda{
  justify-content: center;
  }

