<div class="container">
  <br>
<h1 mat-dialog-title>Hillsborough Community College</h1>
<mat-dialog-content class="">
  <h2>Associate in Sciences</h2>

  <p><b>Major :</b> Computer Programming & Analysis</p>

  <p><b>Overall GPA :</b> 3.4</p>
  <p>In Progress</p>


</mat-dialog-content>
<mat-divider></mat-divider>

<h1 mat-dialog-title> Montreal College, Canada</h1>

<mat-dialog-content class="">
  <h2>MCIT (AEC)</h2>

  <p><b>Major :</b>   Certificate of Programming<br> for mobile technologies-LEA.CK Web app development
  </p>

  <p><b>Overall GPA :</b> 3.6</p>
  </mat-dialog-content>
  <mat-divider></mat-divider>
<h1 mat-dialog-title> Raul Suarez, Cuba</h1>

<mat-dialog-content class="">
  <h2>High School</h2>
  <p><b>Overall GPA :</b> 3.4</p>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="mat-elevation-z20"mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
</div>
