<mat-card class="example-card">


<mat-dialog-content class="mat-typography">

  <mat-card-header>

  <div mat-card-avatar class="hcc-header-image"></div>

  <mat-card-title>HCC</mat-card-title>
  <br>
  <mat-card-subtitle>(Hillsborough Community College)</mat-card-subtitle>
  </mat-card-header>
  <br>
  <h3>Associate in Sciences</h3>
  <p><b>Major :</b> Computer Programming & Analysis</p>

  <p><b>Overall GPA :</b> 3.4</p>
  <p>In Progress..</p>
<mat-divider></mat-divider>
<mat-card-header>

  <div mat-card-avatar class="mtl-header-image"></div>

  <mat-card-title>MCIT</mat-card-title>
  <br>
  <mat-card-subtitle>(Montreal College)</mat-card-subtitle>
  </mat-card-header>

<p><b>Major :</b>   Certificate of Programming<br>
                    for mobile technologies-LEA.CK<br>
                     Web app development
  </p>
<p>Graduated</p>
  <p><b>Overall GPA :</b> 3.6</p>
  <mat-divider></mat-divider>
  <mat-card-header>

    <div mat-card-avatar class="vc-header-image"></div>

    <mat-card-title>IPI</mat-card-title>
    <br>
    <mat-card-subtitle>(Polytechnical Institute,Cuba)</mat-card-subtitle>
    </mat-card-header>
  <p><b>Overall GPA :</b> 3.4</p>
  <p>Diploma</p>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button class="mat-elevation-z20" mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
<br>
</mat-card>
