
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Your Feedback</mat-card-title>
    <br>
    <mat-card-subtitle>Help me improve my App.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p>{{longText}}</p>

        <form #f="ngForm"  novalidate>
        <mat-form-field appearance="fill">
          <mat-label>Feedback</mat-label>
          <textarea

          matInput
          cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="40"
          name="feedback" ngModel required #first="ngModel"></textarea>
        </mat-form-field>
        </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial
    mat-button
    (click)="onSubmit(f)"
    >send</button>
  </mat-card-actions>
</mat-card>
