
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>

    <mat-card-title>Your Feedback</mat-card-title>
    <br>
    <mat-card-subtitle>Help improving my App.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p class="ltext">{{longText}}</p>
    <mat-divider></mat-divider>
<br>
        <form #f="ngForm"  novalidate>
        <mat-form-field appearance="fill">
          <mat-label>Feedback</mat-label>
          <textarea

          matInput
          cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="40"
          name="feedback" ngModel required #first="ngModel"></textarea>
        </mat-form-field>
        </form>

  </mat-card-content>
  <mat-dialog-actions align="center">    <button mat-button [mat-dialog-close]="true" cdkFocusInitial

    mat-button

    (click)="onSubmit(f)"
    >send</button>
  </mat-dialog-actions>
   <br>
</mat-card>
